﻿/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css?family=Concert+One|Roboto+Condensed');


#myOverlay{position:fixed; height:100%;width:100%;}
#myOverlay{background:black;opacity:1;z-index:3;display:none;}

#loadingGIF{position:absolute;top:40%;left:45%;z-index:4;display:none;}
/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;

	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
	background:
	 background: #eb01a5;
	 background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(46, 182, 216, 0.8)), url("ion_heat_background.png");
    background-repeat: no-repeat;
    background-position: top_center;
    background-attachment: fixed;
    background-size: cover;
    background-image: 
    
	
	 background-repeat: no-repeat;
     background-attachment: fixed;

    

}

a {text-decoration: none;}

label{
	text-align: left;
	align: left;
	color: #2C3E50;
	font-family: Concert One;
	font-size: 18px;
}







#wrapper {
  margin: 0 auto;
  max-width: 612px;
  padding-right: 320px; /* padding should be the total width of all right columns */
}

#content {
  float: left;
  width: 100%;
  min-width: 400px;
  padding-right: 20px;
}




body {
	font-family: Concert One,Roboto Condensed,montserrat, arial, verdana;

}
/*form styles*/
#msform {
	width: 812px;
	margin: 20px auto;
	text-align: center;
	position: relative;

}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 8px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 100%;
	

	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: Roboto Condensed;
	color: #56504e;
	font-size: 15px;
}
#msform input, #msform select {
	padding: 10px;
	border: 1px solid #ccc;

	border-radius: 3px;
	margin-bottom: 10px;
	width: 612px;
	box-sizing: border-box;
	font-family: Roboto Condensed;
	color: #56504e;
	font-size: 14px;
}
/*buttons*/
#msform .action-button {
	width: 500px;
	background: #f6a41d;

	color: white;
	border: 0 none;
	border-radius: 4px;
	cursor: pointer;
	padding: 10px 5px;
    font-family: Roboto Condensed;
    font-size: 18px;
	
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

#msform .button {
    width: 500px;
    background: #f6a41d;

    color: white;
    border: 0 none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 5px;
    font-family: Roboto Condensed;
    font-size: 18px;
    
}
#msform .button:hover, #msform .button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/

.fs-title {
	font-size: 30px;
	text-transform: uppercase;
	color: #56504e;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 11.11%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

#mapCanvas {
    width: auto;
    height: 400px;
        
}

#infoPanel {
    margin-left: 10px;
}

#infoPanel div {
    margin-bottom: 5px;
}
#custom.container{
    width: auto;
    background: #FFF;
}

#custom.jumbotron{
    margin-top: 15px;
    margin-bottom: 15px;
}



table {
    font-family: Concert One, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

table#status {
    font-family: Concert One, sans-serif;
    font-size: 10px;
    border-collapse: collapse;
    width: 100%;

}

td, th {
    text-align: justify;
    padding: 1px;

}

label{
	width: 8.33%;
}


td input#nvaca,td input#ncaballo, td input#ncaballo,td input#nburro,td input#nchivo,td input#ncerdo,td input#nperro,td input#ngallina, td input#notrosvict {
	padding: 1px;
	margin-bottom: 0px

}


input.checkbox{
	width: 100%;

}


input#edadaniatac.checkbox, input#encaniatac.checkbox, input#elaniten.checkbox, input#sitioataque.checkbox{
	width: 30%;	
}

textarea {
    resize: none;
}


input#checkbox{
	width: 10%;
}

input#radio{
	width: 30%;
}

input#atac1, input#atac2, input#atac3, input#atac4, input#atac5, input#atac6{
	width: 30%;

}

input#name.form-control{
	width: 70%;
}
input#password.form-control{
    width: 70%;
}

td#one.cellId{
	width: 100%;
}


/*
================================================================================================================================================================
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
# 
*/

.print-wrap {
        width: 812px;
    }

ul li {
    /*
     * We want the bullets outside of the list,
     * so the text is aligned. Now the actual bullet
     * is outside of the list’s container
     */
    list-style-position: outside;

    /*
     * Because the bullet is outside of the list’s
     * container, indent the list entirely
     */
    margin-left: 1em;
}

/*
================================================================================================================================================================
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
# 
*/
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}