/* Cascade Style Sheet*/

/* Elements identifiers */

/* Styles for the dropdown menu */
#jsddm{ 
   margin-top: 45px;
   margin-left: 73%;
   padding: 0;
}

#jsddm li{ 
   list-style: none;
}

#jsddm li a{
   display: block;
   background: #555150;
   padding: 5px 12px;
   text-decoration: none;
   border-right: 1px solid white;
   width: 90px;
   color: #EAFFED;
   white-space: nowrap;
   font: 14px "Roboto";
}

#jsddm li a:hover{
   background: #000;
}

#jsddm li ul{
   margin: 0;
   margin-left: 15px;
   padding: 0;
   position: absolute;
   visibility: hidden;
   border-top: 1px solid white;
   z-index: 2;
}

#jsddm li ul li{  
   float: none;
   display: inline;
}

#jsddm li ul li a{  
   width: 115px;
   background: #555150;
}

#jsddm li ul li a:hover{
   background: #000;
}
/* End styles for the dropdown menu */

#div-menu{
    margin-left: 300px;
    font-size: 1.5em;
    text-transform: capitalize;
    position: absolute;
    z-index: 2;
}

#div-menu ul li{
    float: left;
    padding: 0.5em;
}

#div-menu ul li a:hover{
    text-decoration: underline;
    text-decoration-color: #000000;
}

#div-menu ul{
    overflow: hidden;
    list-style: none;
}

#separator-menu{
    background-color: #000000;     
    width: 100%; 
    display: none;
}


/* CSS Classes */

.menu_bar {
    display: none;
}

.div-login{
    margin-left: 30%; 
    margin-top: 0%; 
    height: auto;
    width: 600px;
}

.margin-div-user{
    margin-left: 85%;
    margin-top: -50px;
}

.height-card{
    height: 700px;
}

.container-fluid{
    margin-top: 30px;
    z-index: 1;
    position: absolute;
}

.link-profile, .link-logout{
    display: none;
}

.hide-close .ui-dialog-titlebar-close{ 
    display: none;
}


/*CSS media queries*/

@media only screen and (max-width: 720px){
    #jsddm{
        display: none;
    }
    
    #div-menu{
        margin-left: 69%;
        margin-top: 250px;
        background: #FFFFFF;
    }
        
    #div-header{
        height: 50px;
        margin-top: 0px;
        font-size: 0.8em;
    }
    
    #separator-menu{
        display: block;
    }
    
    .navbar-top-home{
        background: #6C00DA;
        width: 35%;
        margin-left: 65%;
        margin-top: 0px;
        font-size: 0.8em;
    }
    
    .link-profile, .link-logout{
        display: block;
    }
}

@media only screen and (min-width: 720px) and (max-width: 1280px){
    #jsddm{
        display: none;
    }
    
    #div-menu{
        margin-left: 78%;
        margin-top: 185px;
        background: #FFFFFF;
    }
    
    #separator-menu{
        display: block;
    }
    
    .link-profile, .link-logout{
        display: block;
    }
}
